# Firebase Configuration
FIREBASE_PROJECT_ID=gen-lang-client-0723352507

# Gemini API Key
GEMINI_API_KEY=

# Mercado Pago Configuration
MERCADO_PAGO_ACCESS_TOKEN=
WEBHOOK_URL=https://luminaaisolutions.com.br
